table, th, td, tbody {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
}

.tableWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 15px;
}

.tableWrapper > button {
    height: 50px;
}

th, td {
    padding: 10px 15px;
    max-width: 12%;
    width: 12%;
}

td:hover {
    background-color: #d4f89d;
    cursor: pointer;
}

.outer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activeDay {
    color: deepskyblue;
}

.event-cell:hover {
    filter: brightness(70%);
}

.priority1 {
    background-color: green;
}

.priority2 {
    background-color: yellow;
}

.priority3 {
    background-color: red;
}