html, body, form, fieldset, img {
    margin: 0;
    padding: 0;
    font: 100%/150% Arial, sans-serif;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.outer {
    max-width: 90%;
    margin: 30px auto 0;
    border-radius: 15px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}